<header th:fragment="header(title)">
    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-brand mb-0 h1 text-light" th:text="${title}"></span>
        <a class="btn btn-secondary btn-lg mb-8 btn-success" href="/all">Hub</a>
        <span sec:authorize="isAuthenticated()">
            <span class="text-light mr-4">Hey <span sec:authentication="userName">Bob</span> </span>
            <a class="btn btn-secondary btn-lg mb-8 btn-warning" href="/logout">Log Out</a>
        </span>
        <a sec:authorize="!isAuthenticated()" class="btn btn-secondary btn-lg mb-8 btn-info" href="/login">Login</a>
    </nav>
</header>