<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head('Countries Management')"></head>
<body class="text-center">
    <header th:replace="../fragments/header.html :: header('Countries Management')"></header>

	<section class="m-5">
		<div>
			<h3>Update a country:</h3>
			<form id="updateCountryForm" th:action="@{updateCountry}" method="post">
				<div class="form-group">
					<label> Name: <input type="text" name="oldName" class="form-control"/></label>
					<br />
					<label> New name: <input type="text" name="newName" class="form-control"/></label>
					<br />
					<input type="submit" class="btn btn-dark" value="Modify"/> <!-- onclick="ajaxUpdateCountry()" -->
				</div>
			</form>
		</div>
	
		<div>
			<table class="table countryTable">
				<thead class="thead-light">
					<tr>
						<th><strong>ID</strong></th>
						<th>Country</th>
                        <th>Region</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="country : ${countries}" th:id="'row_' + ${country.countryId}">
						<td data-th-text="${country.countryId}"></td>
						<td data-th-text="${country.countryName}"></td>
                        <td data-th-text="${country.region.regionName}"></td>
                        <td><button th:id="'button_' + ${country.countryId}" class="btn btn-dark" onclick="editButtonPress(this)">Editer</button></td>
					</tr>
				</tbody>
			</table>
		</div>
    </section>

    <script th:src="@{/js/countries_functions.js}"></script>
    <div th:insert="../fragments/scripts.html :: min_scripts"></div>
</body>
</html>