<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Salary Distribution</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
	<style>
		.countryTable
		{
			width: 50%;
			margin: auto;
		}
	</style>
</head>
<body class="text-center">

	<nav class="navbar navbar-light bg-dark">
	  <span class="navbar-brand mb-0 h1 text-light">Salary Distribution</span>
	</nav>
	
	<section class="m-5">
	
	
    <canvas id="chart" class="chartjs salaryChart" width="1540" height="400"></canvas>
    
					<h2>Employees</h2>
					<div th:each="employee : ${employees}">
						<span data-th-text="${employee.firstName}"></span>
						<span data-th-text="${employee.lastName}"></span>
					</div>
	 
	</section>
	
	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/chartjs/2.7.3/Chart.min.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/
	let x = 0; 
	let employeesNumber = /*[[${employees.size()}]]*/
	
	new Chart(
	        document.querySelector("#chart"),
	        {
	            "type":"bar",
	            "data":
	            {	
	                "labels":
	                [
                	/*[# th:each="employee : ${employees}"]*/
               			/*[[${employee.firstName+" "+employee.lastName}]]*/,
               		/*[/]*/
               		], 
	                "datasets":
	                [
	                    {
	                        "label":"Salary / Employee",
	                        "data":[
	                        	/*[# th:each="employee : ${employees}"]*/
	                            	{"x":x++,"y":/*[[${employee.salary}]]*/,"r":5},
	                        	/*[/]*/
	                    	],
	                        "fill":true,
	                        "backgroundColor":"rgba(255, 99, 132, 0.2)",
	                        "borderColor":"rgb(255, 99, 132)",
	                        "borderWidth":1
	                    }
	                ]
	            },
	            "options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}
	});

	/*]]>*/
	</script>

</body>
</html>